#emergency-panel {
    margin: 80px auto;
}



#emergency-panel {
    background: #131826;
    padding: 40px;
    border-radius: 16px;
    width: 480px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 212, 166, 0.35);
}

h2 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 2px;
    color: #00D4A6;
}

.subtitle {
    margin-top: 8px;
    margin-bottom: 25px;
    color: #cbd5e1;
    font-size: 15px;
}

.gate-container {
    position: relative;
    width: 280px;
    height: 180px;
    margin: 0 auto 30px;
    perspective: 1000px;
}

.gate {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(145deg, #1f2933, #020617);
    border: 4px solid #00D4A6;
    box-shadow: inset 0 0 20px rgba(0, 212, 166, 0.3);
    transition: transform 1.2s ease;
}

.gate-left {
    left: 0;
    transform-origin: left center;
    border-right: 2px solid #020617;
}

.gate-right {
    right: 0;
    transform-origin: right center;
    border-left: 2px solid #020617;
}

.lock {
    position: absolute;
    width: 40px;
    height: 50px;
    background: #00D4A6;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.open .gate-left {
    transform: rotateY(-75deg);
}

.open .gate-right {
    transform: rotateY(75deg);
}


#pin-display {
    margin-bottom: 30px;
    padding: 18px;
    font-size: 32px;
    letter-spacing: 14px;
    background: #020617;
    border: 2px solid #00D4A6;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    box-shadow: inset 0 0 10px rgba(0, 212, 166, 0.3);
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.keypad button {
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #1f2933;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s ease;
}

.keypad button:hover {
    background: #00D4A6;
    color: black;
    transform: scale(1.05);
}

.keypad button:active {
    transform: scale(0.95);
}

.clear {
    background: #7f1d1d;
}

.enter {
    background: #065f46;
}

#gate-message {
    margin-top: 25px;
    font-weight: bold;
    min-height: 26px;
    font-size: 16px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-6px);
    }

    50% {
        transform: translateX(6px);
    }

    75% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.3s;
}